.single-movie{
    border: solid 1px;
    display:flex;
    gap: 1rem;
}

.poster{
    flex-shrink: 0;
    width: 500px;
}

.info{
    display: flex;
    flex-direction: column;
    flex:1;
}

.description{
    margin-block: auto;
}